<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">
	<Worksheet ss:Name="Sheet1">
		<Table>
			<Row>
				<Cell><Data ss:Type="String">Code</Data></Cell>
				<Cell><Data ss:Type="String">Name</Data></Cell>
				<Cell><Data ss:Type="String">Unit Price</Data></Cell>
				<Cell><Data ss:Type="String">Barcode</Data></Cell>
			</Row>
			
			<% @products.each do |product| %>
				<Row>
					<Cell><Data ss:Type="Number"><%= product.code %></Data></Cell>
					<Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
					<Cell><Data ss:Type="String"><%= product.unit_price %></Data></Cell>
					<Cell><Data ss:Type="Number"><%= product.barcode %></Data></Cell>
				</Row>
			<% end %>
		</Table>
	</Worksheet>
</Workbook>